/$RECYCLE.BIN
/.DS_Store
/.localized
/Asterix & Obelix XXL.url
/DigitalSignageApp
/Kao the Kangaroo Round 2.url
/Przykład napięcia politycznego związanego z próbą negowania tradycyjnych stereotypów.docx
/ResidualMaskingNetwork
/Thumbs.db
/Windows 11
/Zrzut ekranu 2022-09-8 o 21.34.09.png
/Zrzut ekranu 2022-09-8 o 21.34.17.png
/Zrzut ekranu 2022-11-26 o 09.41.57.png
/Zrzut ekranu 2022-11-26 o 14.21.37.png
/Zrzut ekranu 2022-11-28 o 10.04.34.png
/Zrzut ekranu 2023-05-10 o 00.37.32.png
/Zrzut ekranu 2023-05-10 o 00.37.50.png
/Zrzut ekranu 2023-05-10 o 12.00.12.png
/Zrzut ekranu 2023-05-10 o 13.16.36.png
/convert
/data
/data.zip
/dataset
/desktop.ini
/emotic
/iot_app